body {
     
    margin: 0%;  
    font-family: Arial, Helvetica, sans-serif;
    display: flex; /* para deixa a tela dinamica por padrão coloca tudo um do lado do outro*/
    flex-direction: column; /*alinha o display em colunas */
    height: 100vh; /*vh e de vil porte*/
}
/* Header e Footer */

header {
    background-image: linear-gradient(#003366, #006699);/*CRIA UMA COR DEGRADER */
    display: flex;/* para deixa a tela dinamica por padrão coloca tudo um do lado do outro*/
    justify-content: space-between;/*Alinhe os itens flexíveis no centro do contêiner E USADO JUNTO COM DISPLAY:FLEX*/
    flex-wrap: wrap;

}

footer {
    background-color: #003366;/*Escolher a cor*/
    margin-top: auto;/*A margin-toppropriedade define a margem superior de um elemento.*/
}

header, footer {
    color: white;/*escolher a cor da letra*/
    padding: 0.5em; /*As propriedades CSS paddingsão usadas para gerar espaço ao redor do conteúdo de um elemento, dentro de qualquer borda definida. pode ser em px, pt, cm, %*/
}

footer a {
    color: white;
}

div#logo {
    margin: auto 0;
}

div#logo * {
    vertical-align: middle;/*propriedade define o alinhamento vertical de um elemento.*/
    margin-left: 0.5em;/*largem lateral */
}

div#logo span {
    font-size: 2em;/* tamanho da fonte para diferentes elementos:*/
    font-weight: bold;
}

div#usuarioInfo span, footer span {
    display: block;/*displaypropriedade especifica o comportamento de exibição*/
    margin-bottom: 0.5em;
}

div#usuarioInfo{
    text-align: right;
}
div#usuarioInfo a.botao {
    border: 1px solid white;
}

@media screen and (max-width:430px) {
    div#usuarioInfo {
        margin-top: 1em;
        text-align: left;
    }
}
/* NAV */

nav {
    background-color: #383838;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {/*to no nav dentro a que esta dentro do li e que esta dentro do ul*/
    display: inline-block;
    padding: 1em;
    color: white;
    text-decoration: none;
}

nav ul li a:hover { /*o hover e uma situação "quando passar o mouse em cima" ele vai alterar as caracteristica do a*/
    background-color: #cccccc;
    color: #383838;
}

nav div#dropdown_menu { /* mundaod o menu das configuraçoes*/
    display: none;
    position: absolute;
    background-color: #383838;
    border: 1px solid white;
    box-shadow: 0px 2px 4px 0px black;

}
nav ul li#dropdown:hover div#dropdown_menu { /* menu da confing*/
    display: block;

}

nav div#dropdown_menu a {
    display: block;

}


@media screen and (max-width: 700px){
    nav ul li {
        display: block;
        width: 100%;

    }
    nav ul li a {
        width: 100%;
    }
}


/*tabela */

table {
    border-spacing: 0.1em;
    margin: 0.5em auto;
    width: 100%; /*largura da tela */

    /*repositorio*/
    overflow-x: auto; /*barra de rolagem */
    display: block;
    
}

table th {
    background-color: #003366;
    color: white;
    
}
table td, table th{
    padding: 0.5em;
}
table tbody tr:nth-child(odd) {/*mundado a cor dos elementos par da tr*/
    background-color: #c6d4e2;
}
table tbody tr:nth-child(even){ /*mundado a cor dos elementos impares da tr*/
    background-color: #e7ecf1;
} 
table tbody tr:hover{/*efeito de mudar a cor de toda a linha da tabela quando passa o mouse*/
    background-color: #cccccc;
}
table tfoot td {
    border-top: 1px solid #003366;
    text-align: center;
}
table td:last-child, table td.fit {
    width: 1%;
    text-align: center;
    white-space: nowrap; /*ele não permite a quebra de linha */
}

/*FORMULARIO*/

form {
    margin: auto;
    text-align: right;
    width: fit-content;
}
form div.grid {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 0.5em; /*espaço que fica entre o texto e o input e das linhas*/
    align-items: center;
    margin-bottom: 0.5em;
}
form label::after{/*pega o espaço do elemento que eu selecionei */
    content: ':';
}
input, select {
    height: 2em;
    border: 1px solid #757575;
    box-sizing: border-box;
}
form div.grid imput, form div.grid select { /*para selecional class use .(ponto)*/
    width: 18em;
}
input:required:invalid, select:required:invalid { /*required campo obrigatorio  enquanto for invalido*/
    border: 1px solid red;
}

@media screen and (max-width:700px){

    form div.grid {
        grid-template-columns: 1fr;
    }
    form {
        width: 85%;
        text-align: left;
    }
    form div.grid input, form div.grid select {
        width:100%;
    }


}



/* BOTAO  SERA POR CLASS */

a.botao, input[type="button"],input[type="submit"]{ /*quando quiser seecional alguma propriedade mais profunda use []*/
    color: white;
    border: nome;
    cursor:pointer;
    background-color: #2c832d;
    border-radius: 4px;

}
a.botao:hover,
input[type="button"]:hover,
input[type="submit"]:hover{
    background-color: #1e5e20;
}
input,select,a.botao{
    font-size: 1em;
}
input[type="button"],
input[type="submit"]{
    height: 2em;
}
a.botao {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
    padding: 0 0.4em;
}
a.botao.excluir {
    background-color: rgb(229, 15, 15);
}
a.botao.excluir:hover {
    background-color: rgba(201, 23, 23, 0.321);
}


/*  MAIN */
main {
    padding: 1em; /*espaçamento dos outros blocos*/
    background-image: linear-gradient(#cccccc, white);/* degrade*/
}

/* comandos */
div#comandos {
    display: flex ;
    justify-content: space-between;
    padding: 0.5em 0.1em; /* o primeiro e a pargem do top e o segundo do lado direito e tinha como por mais */
    flex-wrap: wrap; /* quando não tiver espaço quebra para a outra linha */

}